@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply sm:w-[128px] sm:h-[50px] rounded-[25px] border-2 border-solid border-white w-[120px] text-[14px] sm:text-[16px] h-[42px];
  }
  .stepbtn {
    @apply sm:w-[87px] sm:h-[35px] sm:text-[16px] text-[15px] w-[80px] h-[35px] rounded-[25px] text-[white] bg-[#FF7F3F];
  }

  .heading {
    @apply text-[#146356] sm:text-[40px] sm:font-[700] text-[20px] font-[600];
  }
  .smallHeading {
    @apply text-[#146356] sm:text-[18px] font-[630] text-[10px];
  }
}

body {
  font-family: Publica Sans Round;
  box-sizing: border-box;
  overflow-x: hidden;
}

